name: Build & Test
on: 
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
      
jobs:

  build-and-test:
    if: true # false to skip job during debug
    name: Test and Build on Ubuntu
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Golang
      uses: actions/setup-go@v3
      with:
        go-version: '1.18'      

    - name: Get dependencies
      run: |
        go mod download
        go version

    - name: GolangCI-Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest       

    - name: Test
      run: go test -v -coverprofile=profile.cov

    - name: Install goveralls
      run: go install github.com/mattn/goveralls@latest

    - name: Send coverage to Coveralls
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: goveralls -coverprofile=profile.cov -service=github        
